xxx

Index:

* xxx

Recommended books

* Python Data Analysis
* 

---

# Dates and times

In [73]:
# Imports
import pandas as pd
from datetime import datetime

In [74]:
# Create toy dataset
data = {'datetime': ['2018-01-05 20:23:02', '2018-02-04 19:52:32', '2018-03-07 19:47:08', '2018-04-03 21:02:31'], 
        'benfica_goals': [3, 2, 5, 1]}
df = pd.DataFrame(data, columns = ['datetime', 'benfica_goals'])  # Convert dict into dataframe
df

              datetime  benfica_goals
0  2018-01-05 20:23:02              3
1  2018-02-04 19:52:32              2
2  2018-03-07 19:47:08              5
3  2018-04-03 21:02:31              1

In [75]:
# Check data types
df.dtypes

datetime         object
benfica_goals     int64
dtype: object

* *date* is an object
* To manipulate it, we need to use string operations
* That's not [cool(io)](https://youtu.be/fPO76Jlnz6c)

In [76]:
# Convert to to_datetime
df['datetime'] = pd.to_datetime(df['datetime'])

In [77]:
# Check data types
df.dtypes

datetime         datetime64[ns]
benfica_goals             int64
dtype: object

* It changed to *datetime*
* Let's see what we can do now

In [78]:
# Get year
df['datetime'].dt.year  # Use dt to access datetimelike properties of the Series values

0    2018
1    2018
2    2018
3    2018
Name: datetime, dtype: int64

* It also works for month, minute, second, etc.
* See [here](https://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties) the list of datetime properties that you can access

In [84]:
# Get maximum date
df['datetime'].max()

Timestamp('2018-04-03 21:02:31')

* It also works for minimum

In [85]:
# Parse date and time
df['date'] = df['datetime'].dt.date
df['time'] = df['datetime'].dt.time
df

             datetime  benfica_goals        date      time  year  month  day
0 2018-01-05 20:23:02              3  2018-01-05  20:23:02  2018      1    5
1 2018-02-04 19:52:32              2  2018-02-04  19:52:32  2018      2    4
2 2018-03-07 19:47:08              5  2018-03-07  19:47:08  2018      3    7
3 2018-04-03 21:02:31              1  2018-04-03  21:02:31  2018      4    3

In [81]:
# Parse date into year, month, day
df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

df

             datetime  benfica_goals       date      time  year  month  day
0 2018-01-05 20:23:02              3 2018-01-05  20:23:02  2018      1    5
1 2018-02-04 19:52:32              2 2018-02-04  19:52:32  2018      2    4
2 2018-03-07 19:47:08              5 2018-03-07  19:47:08  2018      3    7
3 2018-04-03 21:02:31              1 2018-04-03  21:02:31  2018      4    3

* You can do a similar exercise for *time*

In [91]:
# Time elapsed between dates
df['prev_datetime'] = df['datetime'].shift()  # Auxiliary column
df['elapsed_time'] = df['datetime'] - df['prev_datetime']
df

,datetime,benfica_goals,date,time,year,month,day,prev_datetime,elapsed_time
0,2018-01-05 20:23:02,3,2018-01-05,20:23:02,2018,1,5,NaT,NaT
1,2018-02-04 19:52:32,2,2018-02-04,19:52:32,2018,2,4,2018-01-05 20:23:02,29 days 23:29:30
2,2018-03-07 19:47:08,5,2018-03-07,19:47:08,2018,3,7,2018-02-04 19:52:32,30 days 23:54:36
3,2018-04-03 21:02:31,1,2018-04-03,21:02:31,2018,4,3,2018-03-07 19:47:08,27 days 01:15:23

---

# Coordinates

* https://stackoverflow.com/questions/29545704/fast-haversine-approximation-python-pandas
* https://stackoverflow.com/questions/40452759/pandas-latitude-longitude-to-distance-between-successive-rows
* https://gist.github.com/rochacbruno/2883505

In [ ]:
df = pd.DataFrame({ 'DAY': np.random.choice(['Monday','Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], 10000),
                    'LATITUDE': np.random.uniform(low=40.5, high=41, size=10000),
                    'LONGITUDE': np.random.uniform(low=-74.5, high=-75, size=10000)})
coords = df[['LATITUDE', 'LONGITUDE']]
coords1 = coords.values[:, None].astype(float)